{% extends 'base.html' %}

{% block content %}

<h1>Home Page</h1>

<ul>
{% for member in object_list %}
    <li><a href="{% url 'member-detail' member.pk %}">
        {{ member.name }}
        {% if user.is_authenticated %}
            {% if user.id == member.user.id %}
                <small> - <a href="{% url 'member-edit' member.pk %}">(Edit)</a></small>
                <br/>
                </a> Flat Number - {{ member.flat_number }} <br/>
                    Phone Number - {{ member.contact_number}} <small> </small>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>


{% endblock %}
